<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js'
    data-cf-beacon='{"token": "ce40f48bc8ad48698d0cba067fd247a3"}'></script>
<!-- End Cloudflare Web Analytics -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V53SCCPJ11"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V53SCCPJ11');
</script>
<!-- END Google tag (gtag.js) -->
