<div style="background-color: palegoldenrod; padding: 1em; margin-top: 1em; margin-bottom: 1em;">
    <p>🇬🇧 🇺🇸 If you found value in my content, consider supporting me by
    treating me to a coffee, beer, or pizza. Your contributions help fuel more
    quality content creation.</p>

    <p>🇮🇹 Se hai apprezzato i miei contenuti, considera di supportarmi
    offrendomi un caffè, una birra o una pizza. I tuoi contributi aiutano a
    creare contenuti di qualità.</p>

    <ul>
        <li>
            <a href="https://paypal.me/gionn">Paypal</a>
        </li>
        <li>
            <a href="https://buymeacoffee.com/gionn">Buy me a coffee</a>
        </li>
        <li>
            BTC <input type="text" value="bc1qmmgdj4mhcsk7aavvtqepv0wqr5r2x5sau6lc66" readonly>
        </li>
        <li>
            ETH <input type="text" value="0x3Bce5d576991be320fD704D7Ca28A4FF7612C63D" readonly>
        </li>
    </ul>
</div>
