---
layout: default
---

<header>
    <h1 class="post-title">{{ page.title }}</h1>
</header>
<div class="content">
    {% include post-meta.html post=page %}

    <div class="post-body">
        {{ content }}

        {% include donations.html %}

        <div id="cta-comments">
            <p>🇬🇧 🇺🇸 If you have found inaccuracies or wish to improve this
            article, please use the comments section below (after clicking on
            Load Comments).</p>

            <p>🇮🇹 Se hai trovato imprecisioni o vuoi migliorare questo
            articolo, utilizza la sezione commenti qui sotto (dopo aver cliccato
            Load Comments)</p>
        </div>

        {% include post-tags.html post=page %}
    </div>

    {% include comments.html %}
    {% include related_posts.html %}
</div>
