name: pre-commit

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Install image optimization tools
        run: |
          sudo apt-get update -q
          sudo apt-get install -y jpegoptim optipng
      - uses: Alfresco/alfresco-build-tools/.github/actions/pre-commit@v15.6.2
        with:
          python-version: '3.13.3'
